@model CastingAgentProfileViewModel

<div class="container mt-5">
    <h1 class="text-center">My Profile</h1>

    <div class="row mt-4">
        <div class="col-md-8">
            <h2>@Model.Name</h2>
            <p><strong>Casting Agency:</strong> @Model.CastingAgency</p>

            <partial name="_ProfileActionsPartial" />
        </div>
    </div>

    <hr />

    <div class="mt-4">
        <h3>My Castings</h3>
        <div class="mb-3">
            <a asp-controller="Casting" asp-action="Add" class="btn btn-success btn-lg d-inline-flex align-items-center shadow-sm">
                <i class="fas fa-plus-circle"></i> Add New Casting
            </a>
        </div>
        @if (Model.Castings.Any())
        {
            <div class="d-flex overflow-auto">
                @foreach (var casting in Model.Castings)
                {
                    <a asp-controller="Casting" asp-action="Details" asp-route-id="@casting.Id" class="text-decoration-none text-dark list-group-item-action">
                        <div class="card m-2" style="min-width: 200px;">
                            <div class="card-body">
                                <h5 class="card-title">@casting.Title</h5>
                                <p class="card-text">
                                    <strong>Casting End Date:</strong> @casting.CastingEnd <br />
                                    <strong>Actors Applied:</strong> @casting.ActorsApplied
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
            
        }
        else
        {
            <p>No castings listed yet.</p>
        }
    </div>
</div>