@model PaginationViewModel<ActorIndexViewModel>

@{
    ViewData["Title"] = "Actors";

    if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }
}

<h1>Actors</h1>

<div class="row">
    @foreach (var actor in Model.Items)
    {
        <div class="col-md-4 mb-4">
            <a asp-action="Details" asp-route-id="@actor.Id" class="card h-100 d-flex flex-column text-decoration-none text-dark clickable-card shadow-sm hover-shadow">
                <div class="card">
                    <img src="@actor.ProfilePictureUrl" class="card-img-top img-thumbnail" alt="@actor.FirstName @actor.LastName's Profile Picture" style="max-height: 300px; object-fit: contain" />
                    <div class="card-body">
                        <h5 class="card-title">@actor.FirstName @actor.LastName</h5>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@{
    ViewData["HasPreviousPage"] = Model.HasPreviousPage;
    ViewData["HasNextPage"] = Model.HasNextPage;
    ViewData["CurrentPage"] = Model.CurrentPage;
    ViewData["TotalPages"] = Model.TotalPages;
    ViewData["PageSize"] = Model.PageSize;
}

<partial name="_PaginationPartial"/>
