@model SelectedMovieViewModel

@using static ActorsCastings.Common.ApplicationConstants

<div class="container mt-5">
    <h1 class="text-center">Add Movie to Your Profile</h1>

    <div class="text-end mb-3">
        <a asp-controller="Movie" asp-action="Add" class="btn btn-success btn-lg">
            <i class="fas fa-plus-circle"></i> Add New Movie
        </a>
    </div>

    <form asp-action="AddMovieFromProfile" method="post">
        <div class="row" id="movies-container">
            @foreach (var movie in Model.Movies)
            {
                <div class="col-md-4 mb-4">
                    <div class="card h-100 clickable-card @((movie.IsSelected ? "selected" : ""))" data-movie-id="@movie.Id" onclick="toggleSelection(this)">
                        <div class="card-body">
                            <h5 class="card-title">@movie.Title</h5>
                            <img src="@(!string.IsNullOrEmpty(movie.ImageUrl) ? movie.ImageUrl : NoImage)" class="card-img-top" alt="@movie.Title Picture" style="max-height: 200px; object-fit: contain" />
                            <p class="card-text">
                                <strong>Release Year:</strong> @movie.ReleaseYear <br />
                                <strong>Director:</strong> @movie.Director
                            </p>
                            <div class="form-group role-input @(movie.IsSelected ? "" : "d-none")">
                                <label asp-for="Role">Your Role:</label>
                                <input name="Role" class="form-control" placeholder="Enter your role in this movie" value="@Model.Role" @(movie.IsSelected ? "" : "disabled='disabled'")>
                                <span asp-validation-for= "Role" class="text-light"></span>
                            </div>
                            <input name="Id" type="hidden" value="@movie.Id" @(movie.IsSelected ? "" : "disabled='disabled'")>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-lg" id="add-selected-button" disabled>
                <i class="fas fa-save"></i> Add Selected Movie
            </button>
        </div>
    </form>
</div>